.Button1{
    color:white;
    background-color: #2E42A8;
    border-color:#2E42A8;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px #2E42A8;
    padding: 14px 28px;
    cursor: pointer;
}

.dropdown{
    background-color:white;
    color: lightslategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.LinkButton1{
    color: lightslategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.LinkButton2{
    color: lightslategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    color:#2E42A8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4{
    color:#2E42A8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.para{
    font-size: small;
    color:lightslategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.viz1 {
  visibility: hidden;
}

.viz2 {
  visibility: hidden;
}

.viz3{
  visibility: hidden;
}

.viz4 {
  visibility: hidden;
}

#nav-select {
  visibility: hidden;
}

@media (max-width: 767px) {

  
    #navbar {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
      position:absolute;
      left: 500px;
    }

    .viz1 {
      visibility: visible;
    }

    .viz2 {
      visibility: visible;
    }

    .viz3 {
      visibility: visible;
    }

    .viz4 {
      visibility: visible;
    }

  }